{% extends 'base.html' %}
{% block content %}

<h1>Sforzando</h1>
<hr />
Sforzando was created to fulfil requirements for the Python/Django unit of the Software Engineering Immersive at General
Assembly.
</p>

<h1>About Alexandria</h1>
<hr />
Alexandria is a recent graduate of General Assembly's Software Engineering Immersive, where she studied JavaScript,
Node.js, React.js, MongoDB, Python, Django, and PostgreSQL. You can view her <a
    href="https://www.linkedin.com/in/alexandriastephenson/">LinkedIn here</a> and her <a
    href="http://www.github.com/aaalexandriaaa">GitHub
    here</a>.
</p>

{% endblock %}