{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sforzando</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <header class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <ul>
                    <!-- <li><a href="/" class="center brand-logo" style="color:#13212c;">&nbsp &nbspSforzando</a></li> -->
                    <li><img class="center brand-logo " src='../static/images/sforzando_icon.svg' alt="" />
                    </li>
                </ul>
                <ul class="right">
                    <li><a href="{% url 'about' %}" style="color:#13212c;">About</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="{% url 'pieces_create' %}" style="color:#13212c;">Add Piece</a></li>
                    <li><a href="{% url 'index' %}" style="color:#13212c;">View All My Pieces</a></li>
                    <li><a href="{% url 'logout' %}" style="color:#13212c;">Log Out</a></li>
                    {% else %}
                    <li><a href="{% url 'signup' %}" style="color:#13212c;">Sign Up</a></li>
                    <li><a href="{% url 'login' %}" style="color:#13212c;">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
    </header>
    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer">
        <div class="right">All Rights Reserved, &copy; 2020 Sforzando &nbsp;</div>
    </footer>
</body>

</html>