{% extends 'base.html' %}
{% block content %}

<h1>Piece Details</h1>

<div class="card">
    <div class="card-content">
        <span class="card-title">{{ piece.name }}</span>
        <p>Composer: {{ piece.composer }}</p>
        <p>Period: {{ piece.period }}</p>
        <p>Instrument: {{ piece.instrument }}</p>
        <p>Vocal Part: {{ piece.voice }}</p>
    </div>
    <div class="card-action">
        <a href="{% url 'pieces_update' piece.id %}">Edit</a>
        <a href="{% url 'pieces_delete' piece.id %}">Delete</a>
    </div>
</div>

{% endblock %}